h1, h2, h3, h4, h5, h6 { font-family: 'Noto Sans', sans-serif; }body, p, li, address, dd, blockquote, td, th { font-family: 'Noto Sans', sans-serif; }.highlight, .numbers-sections h4 span.title-highlight, .dropcap { color: #627f9a; }.special-font, .special-font a.btn-alternative { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.quote-icon, .testimonial-wrapper .testimonial-cit:before, .testimonials-slider ul.testimonial-content li blockquote p:before { font-size: 80px; font-family: 'Source Sans Pro', sans-serif; color: #e1e1e1; font-style: normal; font-weight: 400; }body, .st-content, .st-content-inner, .stretched-layout .blog.single .content-style-social,
                            .shortcode .content-style-social, .single-product.woocommerce .woocommerce-tabs ul li.active,
                            #customer_login .wp-social-login-widget,
                            .woocommerce .login-form-checkout .wp-social-login-widget,
                            .wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
                            .wpb_content_element.wpb_tabs .ui-tabs > ul li.ui-state-active,
                            .tabs-container ul.tabs li.current { background: #ffffff url(''); }body, .st-content, .st-content-inner { background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }.boxed-layout #wrapper, .boxed-layout .blog.single .content-style-social,
                            #portfolio_nav .prev a[rel=prev], #portfolio_nav .next a[rel=next], #product-nav > a > div, .single-product.woocommerce .woocommerce-tabs ul li.active,
                            #customer_login .wp-social-login-widget,
                            .products_tabs.tabs-container ul.tabs li.current,
                            .woocommerce .login-form-checkout .wp-social-login-widget,
                            .wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
                            .wpb_content_element.wpb_tabs .ui-tabs > ul li.ui-state-active,
                            .tabs-container ul.tabs li.current { background-color: #ffffff; }#wrapper .tooltip-inner { font-size: 9px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 700; text-align: center; background-color: #627f9a; }.tooltip { border-color: #627f9a; }.main-text-color,
                             .widget.yit-recent-posts .recent-post .hentry-post p.post-date .month,
                             .widget.yit-recent-posts .recent-post .hentry-post p.post-date .day,
                             .toggle .toggle-title h4,
                             .contact-info .info-container h4,
                             .testimonials .testimonial-wrapper h4.testimonial-smallquote, .testimonials-slider .owl-slider.hide-elem li .testimonial-smallquote { color: #6d6c6c; }.shade-1, .yith-wcwl-add-to-wishlist:hover a.add_to_wishlist, .dropcap, .widget.last-tweets li .widget-tweet-icon { color: #627f9a; }.shade-1,
				                 .woocommerce .quantity .minus:hover,
				                 .woocommerce .quantity .plus:hover,
				                 .woocommerce-page .quantity .minus:hover,
				                 .woocommerce-page .quantity .plus:hover,
				                 .blog .yit_post_meta_date,
				                 div.team-member-name span.team-member-name-highlight,
				                 #wp-calendar thead tr, #wp-calendar td#today,
				                 .single-product.woocommerce div.product.product-style-2 div.summary p.price,
				                 .swiper-container .swiper-slide .swiper-slide-image .product-detail .wrap { background-color: #627f9a; }ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist:hover,
					.single-product.woocommerce div.product div.summary h1:after,
					#modal-window:before,
					#modal-window:after,
					#product-nav > a:hover,
					.single-product.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist:hover,
		            .single-product.woocommerce div.product div.summary .compare-button:hover,
		            .single-product.woocommerce div.product div.summary .product-share li a:hover span,
		            .blog .socials-container li a:hover span,
		            .title-border:after,
		            .box-title .title-bar:after,
		            .box-title .title-bar:before,
		            .box-title.bottom-little-line h2:after,
		            #primary .widget h3:after,
		            #review_form_wrapper #reply-title:after,
		            .yit_call_action .cta-phone.call-to-action h3:after,
		            .box-sections.vertical h3:after,
		            .cta-phone.call-to-action h3:after, .cta-phone.call-to-action .cta-phone-phone:after,
		            .call-three .newsletter-cta-title:after,
		            .dropcap,
		            .testimonials-slider .box-title.bottom-little-line h2:after,
		            .testimonials-slider ul.testimonial-content li .meta .name:before,
		            .single-product.woocommerce div.product div.summary h1:after { border-color: #627f9a; }.shade-2 { color: #da8207; background-color: #da8207; }.general-background-color, .nav div.submenu { background-color: #ffffff; } { border-top-color: #eae7e7; border-bottom-color: #eae7e7; }nav > div > ul > li, header.style-3 nav.second-part > div > ul > li,
        .searchform form,
        #header .header-wrapper .row1 > div,
		#header .header-wrapper .row2 > div,
		#header .header-wrapper .row1 > nav,
		#header .header-wrapper .row2 > nav,
		#header-search .sbSelector,
		#header-search .shop-by-category a.list-trigger,
		#header-sidebar > div, #header .cart_label,
		.link_socials span.icon-circle,
		.nav div.submenu,
		.nav ul.children,
		#header .yit_cart_widget .widget_shopping_cart_content,
		#header .sbHolder .sbOptions,
		#topbar .widget_nav_menu ul.menu ul.sub-menu,
		#lang_sel li > ul,
		#wcml_currency_switcher ul li ul,
		#header .widget_shopping_cart .widget_shopping_cart_content ul.product_list_widget li,
		#header .widget_shopping_cart .widget_shopping_cart_content h5.list-title,
		#page-meta .page-meta-wrapper,
		.sbHolder .sbOptions,
		nav.woocommerce-pagination .page-numbers,
		.single-product.woocommerce div.product div.summary .product-share li span,
		#comments ol li, #review ol li,
		#primary .sidebar-with-border,
		.widget.widget_recent_entries ul li,
		.widget.widget_recent_comments ul li,
		.widget_categories ul li,
		.widget_archive ul li,
		.widget_meta ul li,
		.widget_pages ul li,
		.widget_nav_menu ul li,
		.widget_product_categories ul li,
		div.widget,
		.testimonials-slider .owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .testimonials-slider .owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-prev,
		.bx-controls .bx-prev,
        .bx-controls .bx-next,
        .sidebar div.widget,
        .blog.single .yit_post_title_and_meta,
        .blog.single .yit_post_meta.tags, .blog.single .yit_post_meta.no-tags,
        #primary .widget_nav_menu > div > ul > li > a,
		.widget .recent-post .hentry-post p.post-date,
        .widget.yit-recent-comments .the-post .gravatar-wrapper,
        .yit-vertical-megamenu .nav > ul > li,
        .team-author-innerbox,
        .yit_call_action .cta-phone,
        .testimonial-wrapper,
        .widget.newsletter-form.with-border,
        #faqs-container .faq-icon.fa,
        #topbar > .container > div,
        #topbar-right > div,
        #topbar-left > div,
        .cta-phone,
        .call-to-action-two .call-to-action-two-container,
        .call-to-action-four-container .incipit,
        .call-three .newsletter-cta-form-container,
        .counter .number:after,
        #show-category-product ul.products li a.product-category-link, .categories-slider ul.products li a.product-category-link,
        .price-table-container,
        .price-table,
        .widget.yit_recent_reviews .review-meta-avatar .avatar-thumb,
        #header-search .shop-by-category > .submenu > ul > li,
        .wp-social-login-widget, .wc-social-login, #topbar .wp-social-login-widget, #topbar .wc-social-login,
        .single-product.woocommerce div.product.product-style-1 div.images .thumbnails.slider .prev,
        .single-product.woocommerce div.product.product-style-1 div.images .thumbnails.slider .next,
        .st-menu input[type="search"],
        .widget.yit_toggle_menu ul.menu > li,
        .st-menu ul li,
        .single-product.woocommerce .woocommerce-tabs ul li a,
        .single-product.woocommerce .woocommerce-tabs ul li.active a { border-color: #f2f2f2; }.border-line-2, .toggle .toggle-title span.fa.fa-minus.opened { background-color: #f2f2f2; }.arrow-down:before { border-top-color: #d9d9d9; }.arrow-left:before { border-right-color: #d9d9d9; }q, input[type="password"], input[type="text"], input[type="email"], input[type="tel"], textarea,
        #footer .border, #copyright .border, .footer-extra-row,
		#page-meta .woocommerce-ordering .sbToggle,
		.woocommerce-message, .woocommerce-error, .woocommerce-info, .woocommerce-info:after,
		#product-nav > a,
		#product-nav > a:hover > div,
		.woocommerce p.form-row .sbHolder .sbSelector, .woocommerce ul.variations .sbHolder .sbSelector, .widget.woocommerce.widget_layered_nav > .sbHolder .sbSelector,
		.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus,
		.single-product.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist,
		.single-product.woocommerce div.product div.summary .compare-button,
		.single-product.woocommerce .woocommerce-tabs > ul,
		.single-product.woocommerce .woocommerce-tabs > ul li.active a,
		#commentform .comment-form-comment #comment,
		.widget.yit_products ul li,
        .widget.yith-woo-ajax-navigation ul.yith-wcan-color li a, .widget.yith-woo-ajax-navigation ul.yith-wcan-label li a,
        .widget h3.with-dropdown .widget-dropdown,
        .widget.woocommerce.widget_layered_nav ul li small.count,
        .contact-form li.textarea-field div.input-prepend textarea,
        #my-account-sidebar div.user-profile,
        #my-account-sidebar ul li,
        #my-account-sidebar ul:after,
        table.my_account_orders thead,
        table.my_account_orders tr.order,
        .woocommerce table.shop_table.order_details thead, .woocommerce table.shop_table.order_details tbody,
        .woocommerce table.shop_table.order_details tfoot tr:last-child,
        #yith-wcwl-form table.shop_table thead,
        .woocommerce table.shop_table.cart thead,
        #yith-wcwl-form table.shop_table tbody tr,
        .woocommerce table.shop_table.cart tbody .cart_item,
        .woocommerce .cart-collaterals, #review-order-wrapper,
        .woocommerce .cart-collaterals .cart_totals tbody tr.order-total,
        #order_review table.shop_table, #order_review table.shop_table tbody,
        #order_review table.shop_table tfoot tr.total,
        #payment ul.payment_methods li,
        form.checkout div.place-order,
        .woocommerce ul.order_info,
        .general-pagination a,
        nav.woocommerce-pagination a,
        nav.woocommerce-pagination span,
        .blog.masonry .yit_post_meta,
        .blog.masonry .post-wrapper,
        .widget.yit-recent-comments div.comment,
        .box-title.box-title-line-middle .title-bar:after,
        .box-title.box-title-line-middle .title-bar:before,
        .box-title.box-title-line-around .title-bar:after,
        .box-title.box-title-line-around .title-bar:before,
        .toggle, .toggle .toggle-title span.fa.fa-plus.closed, .toggle .toggle-title span.fa.fa-minus.opened,
        .contact-info ul li,
        .filters li a,
        #faqs-container .faq-wrapper,
        .arrow-left,
        .widget.featured-products .flex-direction-nav li a,
        .sbHolder .sbSelector,
        .widget.woocommerce.widget_product_search input[type="search"],
        .widget.testimonial-widget ul li div.testimonial-description,
        .widget.testimonial-widget ul li .image-container,
        .tabs-container ul.tabs li.current,
        .tabs-container ul.tabs,
        .counter,
        .show-category .category-thums a, .show-category .category-products a,
        .border-line,
        .sitemap ul > li:before,
        .sitemap > div h3,
        .widget.yit_recent_reviews .review-content,
        #customer_login form.login,
        .single-product.woocommerce div.product div.summary form.cart .variations .select_option_colorpicker span,
        .single-product.woocommerce .woocommerce-tabs,
        .select2-container--default .select2-selection--single { border-color: #d9d9d9; }.woocommerce ul.products li .product-wrapper, .woocommerce-page ul.products li .product-wrapper,
        ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist,
        .widget h3.with-dropdown .widget-dropdown:hover { border-color: #eae7e7; }#comments div.comment-meta .product-rating span.star-empty,
                                .woocommerce-product-rating .star-rating:before,
                                .widget.woocommerce .star-rating:before,
                                .testimonial-rating .star-rating:before,
                                .yit_recent_reviews .star-rating:before { color: #e29930; }#comments div.comment-meta .product-rating span.star,
                                .woocommerce-tabs #review_form p.stars a,
                                .woocommerce-product-rating .star-rating span,
                                .widget.woocommerce .star-rating span,
                                .testimonial-rating .star-rating span,
                                .yit_recent_reviews .star-rating span { color: #e29930; }a, a:visited, a:link, .widget.yit_products_category ul.product_list_widget a span.product_title,
                              .widget.featured-products div.info-featured-product .product_name,
                              .widget.woocommerce ul.product_list_widget a .product_title,
                              .widget.woocommerce.widget_recent_reviews ul.product_list_widget li a { color: #627f9a; }a:hover, a:active, .widget.yit_products_category ul.product_list_widget li:hover a span.product_title,
                              .widget.featured-products div.info-featured-product .product_name:hover,
                              .widget.woocommerce ul.product_list_widget a .product_title:hover,
                              .widget.woocommerce.widget_recent_reviews ul.product_list_widget li a:hover { color: #e1962b; }a.a-style-2, a.a-style-2:visited, a.a-style-2:link, #list-or-grid span, #number-of-products span, #list-or-grid a, #number-of-products a,
        ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist a,
        .single-product.woocommerce div.product div.summary .woocommerce-breadcrumb a,
		#product-nav > a > span, .single-product.woocommerce div.product div.summary .compare-button a,
		a.link_socials,
		.single-product.woocommerce div.product div.summary form.cart .reset_variations,
		.woocommerce p.form-row .sbHolder .sbSelector, .woocommerce ul.variations .sbHolder .sbSelector, .widget.woocommerce.widget_layered_nav > .sbHolder .sbSelector,
		.sbHolder .sbOptions li a,
		.single-product.woocommerce div.product div.summary .product_meta > span a,
		div.widget li a,
		.bx-controls .bx-prev, .bx-controls .bx-next,
        .wishlist_table tr td.product-name a,
        form.checkout #payment ul li.payment_method_paypal label a,
        .woocommerce table.shop_table tr.cart_item td.product-name a,
        .woocommerce table.shop_table tr.order_item td.product-name a,
        .yith-wcwl-add-to-wishlist a,
        .widget.yit-recent-posts .recent-post .hentry-post .post-content h4 a.title,
        .widget.yit-recent-posts .recent-post span.author a,
        .widget.yit-recent-comments .comments-info-wrapper a,
        #wp-calendar tfoot a,
        .tagcloud a,
        .widget.woocommerce.widget_product_categories .sbHolder .sbSelector,
        .yit-vertical-megamenu .nav > ul > li > a,
        #topbar a,
        a.product-category-link,
        .sitemap a,
        .single-product.woocommerce div.product div.images .thumbnails.slider .prev,
        .single-product.woocommerce div.product div.images .thumbnails.slider .next { color: #6d6c6c; }a.a-style-2:hover, a.a-style-2:active, #list-or-grid span:hover, #number-of-products span:hover, #list-or-grid a:hover, #number-of-products a:hover,
        ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist a:hover,
        .single-product.woocommerce div.product div.summary .woocommerce-breadcrumb a:hover, .single-product.woocommerce div.product div.summary .compare-button a:hover,
		#product-nav > a:hover > span,
		a.link_socials:hover,
		.single-product.woocommerce div.product div.summary form.cart .reset_variations:hover,
		.woocommerce p.form-row .sbHolder .sbSelector:hover, .woocommerce ul.variations .sbHolder .sbSelecto:hover, .widget.woocommerce.widget_layered_nav > .sbHolder .sbSelector:hover,
		.sbHolder .sbOptions li:hover a,
		.single-product.woocommerce div.product div.summary .product_meta > span a:hover,
		div.widget li a:hover,
        .wishlist_table tr td.product-name a:hover,
        form.checkout #payment ul li.payment_method_paypal label a:hover,
        .woocommerce table.shop_table tr.cart_item td.product-name a:hover,
        .woocommerce table.shop_table tr.order_item td.product-name a:hover,
        .yith-wcwl-add-to-wishlist a:hover,
        .widget.yit-recent-posts .recent-post .hentry-post .post-content h4 a.title:hover,
        .widget.yit-recent-posts .recent-post span.author a:hover,
        .widget.yit-recent-comments .comments-info-wrapper a:hover,
        #wp-calendar tfoot a:hover,
        .tagcloud a:hover,
        .widget.woocommerce.widget_product_categories .sbHolder .sbSelector:hover,
        .yit-vertical-megamenu .nav > ul > li > a:hover,
        #topbar a:hover,
        a.product-category-link:hover,
        .sitemap a:hover,
        .single-product.woocommerce div.product div.images .thumbnails.slider .prev:hover,
        .single-product.woocommerce div.product div.images .thumbnails.slider .next:hover,
        #header .cart_label:hover,
        #header .header-sidebar .nav > ul > li > a:hover,
        #header-search .widget_product_search .sbSelector:hover { color: #627f9a; }p, body, time, dt, dd, td, th, address, .yith-wcwl-add-button a.add_to_wishlist,
                          #welcome-menu-login .login-box label, #customer_login #wp-social-login-connect-with, #welcome-menu-login .ywsl-label { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #5b5a5a; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }h1 { font-size: 32px; font-family: 'Noto Sans', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }h2 { font-size: 24px; font-family: 'Noto Sans', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }h3, .category-title { font-size: 20px; font-family: 'Noto Sans', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }h4 { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }h5 { font-size: 14px; font-family: 'Noto Sans', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }h6 { font-size: 14px; font-family: 'Noto Sans', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }.widget h3 { font-size: 18px; font-family: 'Noto Sans', sans-serif; color: #040404; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }#header { background-color: #ffffff; background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }#logo #textual { font-size: 48px; font-family: 'Dosis', sans-serif; color: #1d1d1d; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }#logo span.title-highlight { font-size: 48px; font-family: 'Dosis', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }#logo #tagline { font-size: 15px; font-family: 'Noto Sans', sans-serif; color: #8c8c8c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#logo #tagline span.title-highlight { font-size: 12px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#topbar, #topbar p { font-size: 15px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }#topbar.custom, #topbar.custom p { color: #ffffff; }#topbar.custom { background-color: #627f9a; }#topbar.custom a { color: #ffffff; }#topbar.custom a:hover { color: #bdd7ef; }#topbar.custom #topnav .nav, .nav > ul > li:after,
                                 #topbar.custom ul.menu li a,
                                 #topbar.custom #lang_sel ul li a,
                                 #topbar.custom #lang_sel ul li:hover a,
                                 #topbar.custom #wcml_currency_switcher .sbSelector,
                                 #topbar.custom #wcml_currency_switcher li:hover .sbSelector,
                                 #topbar.custom #wcml_currency_switcher ul li ul a { color: #ffffff; }#topbar.custom .nav a:hover,
                                 #topbar.custom .nav ul > li:hover > a,
                                 #topbar.custom .nav .current-menu-item > a,
                                 #topbar.custom .nav .current-menu-ancestor > a,
                                 #topbar.custom .nav .current-page-item > a
                                 #topbar.custom ul.menu li:hover a,
                                 #topbar.custom .nav div.submenu li > div.submenu li:hover a,
                                 #topbar.custom #topbar-right #lang_sel li > ul > li:hover a,
                                 #topbar.custom #wcml_currency_switcher ul li ul li:hover a { color: #bdd7ef; }#topbar.custom #topbar-right > div, #topbar.custom #topbar-left > div { border-color: #8298ac; }.header-nav ul li a { font-size: 16px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.header-nav ul li a,
                                 #header-search .shop-by-category .list-trigger,
                                 #header-search .shop-by-category .list-trigger:hover,
                                 #header-search .shop-by-category .list-trigger.noclick:hover,
                                 #header .mobile-menu-trigger a,
                                 #header .mobile-menu-trigger a:hover { color: #6d6c6c; }.header-nav ul li:hover > a,
                                 .header-nav ul li.current_page_item > a,
                                 .header-nav ul li.current-menu-ancestor > a,
                                 .yit-vertical-megamenu .nav > ul > li > a:hover { color: #627f9a; }.nav div.submenu, .slider-container .shop-by-category > div.submenu-group { background-color: #ffffff; }.nav div.submenu ul li a, #header .sbHolder .sbOptions li a, #topbar .nav > ul > li > a { font-size: 16px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.nav div.submenu ul li a,
                                 #header .sbHolder .sbOptions li a,
                                 #topbar .nav div.submenu > ul > li > a { color: #6d6c6c; }.nav div.submenu ul li:hover > a,
                                 #header .sbHolder .sbOptions li:hover a,
                                 .nav div.submenu ul li.current_page_item > a,
                                 .nav div.submenu ul li.current-menu-ancestor > a,
                                 #topbar .nav div.submenu > ul > li > a:hover { color: #627f9a; }.nav .bigmenu > .submenu > ul.sub-menu > li > a { font-size: 16px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; color: #627f9a; }.nav .bigmenu div.submenu li>div.submenu li a { font-size: 16px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; color: #6d6c6c; }.nav .bigmenu > .submenu > ul.sub-menu > li:hover > a { color: #627f9a; }.nav .bigmenu div.submenu li>div.submenu li:hover a,
                                 .nav .bigmenu div.submenu li>div.submenu li.current-menu-item a,
                                 .nav .bigmenu div.submenu li>div.submenu li.current_page_item a { color: #627f9a; }#header-search form #s, #header-search form #yith-s, #header-search .widget_product_search .sbSelector, #header-search .widget_product_search .sbToggle, #header .autocomplete-suggestion { font-size: 14px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#header-search .autocomplete-suggestion { border-color: #f2f2f2; }.btn-shop, a.btn-shop, .btn-shop:focus, a.btn-shop:focus, a.button.alt, input.button.alt, button.button.alt,
			                 a.btn-shop.button,a.btn-shop.button:focus,
							 a.btn-alternative, a.btn-alternative:focus,
			                .yith-wacp-related ul.products li.product .product-image .onsale { font-size: 14px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; }.btn-shop, a.btn-shop, a.btn-shop.added, .btn.btn-shop i.fa,
				                 .btn-shop:focus, a.btn-shop:focus, a.btn-shop.added:focus, .btn.btn-shop i.fa:focus,
				                 a.btn-shop.button,a.btn-shop.button:focus,a.btn-shop.button.added:focus,
				                 a.button.alt, input.button.alt, button.button.alt,
				                 a.button.alt:focus, input.button.alt:focus, button.button.alt:focus,
				                 a.btn-alternative, a.btn-alternative:focus,
			                    .yith-wacp-related ul.products li.product .product-image .onsale { color: #ffffff; }.btn-shop:hover, a.btn-shop:hover,
                                .btn.btn-shop:hover i.fa,
                                .btn.btn-shop i.fa:hover,
                                a.btn-shop.button:hover,
                                a.button.alt:hover, input.button.alt:hover, button.button.alt:hover,
                                a.btn-alternative:hover { color: #ffffff; }.btn-shop, a.btn-shop, a.button.alt, input.button.alt, button.button.alt, a.btn-alternative,
				                 a.btn-shop.button,
			                     .yith-wacp-related ul.products li.product .product-image .onsale { border-color: #da8207; background-color: #da8207;  background: #da8207; }.btn-shop:hover, a.btn-shop:hover,a.btn-shop.button:hover, a.button.alt:hover, input.button.alt:hover, button.button.alt:hover, a.btn-alternative:hover { border-color: #e37009; background-color: #e37009;  background: #e37009; }.btn-standard, a.btn-standard, .btn-standard:focus,
							 a.btn-standard:focus, a.button, input.button, button.button,
							 a.btn-flat, a.btn-flat:focus { font-size: 14px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; }.btn-standard, a.btn-standard, .btn-standard:focus, a.btn-standard:focus, a.btn-standard.added,
                                 .btn.btn-standard i.fa, a.button, input.button, button.button, a.btn-flat, a.btn-flat:focus { color: #ffffff; }.btn-standard:hover, a.btn-standard:hover,
                                .btn.btn-standard:hover i.fa,
                                .btn.btn-standard i.fa:hover, a.button:hover, input.button:hover, button.button:hover,
                                a.btn-flat:hover { color: #ffffff; }.btn-standard, a.btn-standard, a.button, input.button, button.button, a.btn-flat { border-color: #627f9a; background-color: #627f9a;  background: #627f9a; }.btn-standard:hover, a.btn-standard:hover, a.button:hover, input.button:hover, button.button:hover, a.btn-flat:hover { border-color: #4a5f72; background-color: #4a5f72;  background: #4a5f72; }.btn-ghost, a.btn-ghost, .btn-ghost:focus, a.btn-ghost:focus { font-size: 14px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; }.btn-ghost, a.btn-ghost, a.btn-ghost.added,
                                 .btn.btn-ghost i.fa { color: #6d6c6c; }.btn-ghost:hover, a.btn-ghost:hover,
                                .btn.btn-ghost:hover i.fa,
                                .btn.btn-ghost i.fa:hover { color: #627f9a; }.btn-ghost, a.btn-ghost { border-color: #898584; background-color: transparent;  background: transparent; }.btn-ghost:hover, a.btn-ghost:hover { border-color: #627f9a; background-color: transparent;  background: transparent; }.error-404-text { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }#faqs-container .faq-wrapper .faq-title h4, .filters li a { font-size: 14px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.blog h1.post-title, .blog h3.post-title a { font-size: 24px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }.blog h1.post-title,
                                 .blog h3.post-title a,
                                 .blog h2.quote-title a,
                                 .blog_section.post_meta .title a { color: #627f9a; }.blog h3.post-title a:hover,
                                 .blog h2.quote-title a:hover,
                                 .blog_section.post_meta .title a:hover { color: #4a6176; }.blog .yit_post_meta,
                            .yit_shortcodes.recent-post .blog .yit_post_meta,
                            .yit_shortcodes.recent-post .yit_post_meta span.author,
                            .yit_shortcodes.recent-post span.author a,
                            .blog_section.post_meta .info { font-size: 15px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; text-align: left; text-transform: none; }.blog .yit_post_meta a:not(.social-icon),
                                 .blog .yit_post_meta a:visited:not(.social-icon),
                                 .blog_section.post_meta .info a { color: #131313; }.blog .yit_post_meta a:hover:not(.social-icon),
                                 .blog .yit_post_meta a:active:not(.social-icon),
                                 .blog_section.post_meta .info a:hover { color: #627f9a; }.blog .yit_post_content p { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #5b5a5a; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }.blog .yit_post_meta_date.normal,
                                 .blog_section .yit_post_meta_date { background-color: #627f9a; }.blog .yit_post_meta_date.normal .day,
                                 .blog .yit_post_meta_date.normal .day,
                                 .blog_section .yit_post_meta_date .day,
                                 .blog .yit_post_meta_date.normal .month,
                                 .blog .yit_post_meta_date.normal .month,
                                 .blog_section .yit_post_meta_date .month { color: #ffffff; }.reply_link, #commentform .logged-in-as a, .comment-navigation .nav-previous a, .comment-navigation .nav-next a { font-size: 14px; font-family: 'Noto Sans', sans-serif; color: #626262; font-style: normal; font-weight: 400; text-transform: uppercase; }.general-pagination, .woocommerce-pagination { font-size: 18px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 400; text-align: center; }.general-pagination a, .woocommerce-pagination a, .woocommerce-pagination span { color: #7c7b7b; }.general-pagination a:hover, #commentform .logged-in-as a:hover, .comment-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover,
                                 .woocommerce-pagination a:hover { color: #627f9a; }.general-pagination a.selected, .general-pagination a:hover.selected, .woocommerce-pagination span.current { color: #ffffff; }.general-pagination a, nav.woocommerce-pagination a, nav.woocommerce-pagination span { background-color: #ffffff; }.general-pagination a:hover, nav.woocommerce-pagination a:hover { background-color: #ffffff; }.general-pagination a.selected, nav.woocommerce-pagination span.current { background-color: #627f9a; }#footer a { color: #6d6c6c; }#footer a:hover { color: #b9791e; }#copyright p, #copyright ul li a { font-size: 15px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#copyright a, #copyright ul li a, #copyright ul.level-1 li::after { color: #6d6c6c; }#copyright a:hover, #copyright ul li a:hover { color: #b9791e; }#footer h3 { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #040404; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }#footer .border { border-top-color: #d9d9d9; }#footer { background-color: #ffffff; background-repeat: no-repeat; background-position: top left; background-attachment: scroll; }#copyright { background-color: #ffffff; }#back-top a, #back-top a:hover { font-size: 13px; font-family: 'Noto Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 300; text-align: center; text-transform: uppercase; }#back-top { background-color: #454545; }#back-top:hover { background-color: #627f9a; }#review-order-wrapper,
                                .woocommerce .coupon-form-checkout,
                                .woocommerce .login-form-checkout,
                                .woocommerce ul.order_info,
                                #review_form_wrapper #review_form,
                                #customer_login form.login { background-color: #fafafa; }.woocommerce div.product .stock,
                             .woocommerce-page div.product .stock,
                             .wishlist_table tr td.product-stock-status span.wishlist-in-stock { color: #85ad74; }.product-meta-wrapper h3,
                             .product-meta-wrapper h3 a,
                             .widget.woocommerce ul.product_list_widget a .product_title,
                             .widget.featured-products div.info-featured-product .product_name,
                             .added-to-cart-popup .added_to_cart h3,
                             .widget.yit_products_category ul.product_list_widget a .product_title,
                             .lookbook-listed-product .lookbook-information a,
                             .single-product.woocommerce div.product div.summary form.cart table.group_table tr td.label a,
                             .widget.yith-woocompare-widget ul.products-list li a { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #627f9a; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }.product-meta-wrapper .price,
                             .widget.woocommerce ul.product_list_widget span.product_price,
                             .widget.featured-products div.info-featured-product .price,
                             #yith-wcwl-form table.shop_table td.product-price,
                             .lookbook-listed-product .lookbook-information .lookbook-product-price,
                             .single-product.woocommerce div.product div.summary table.group_table .price { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: center; text-transform: none; }ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button a,
                             ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button span,
                             .yith_ywraq_add_item_response_message,.yith_ywraq_add_item_browse_message,
                             ul li.product a.compare.button { font-size: 14px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }#list-or-grid span, #number-of-products span,
                            #page-meta form.woocommerce-ordering .sbHolder .sbSelector,
                            #header-search .search_categories,
                            #page-meta .woocommerce-ordering .sbHolder .sbOptions li a { font-size: 11px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 600; text-align: left; text-transform: uppercase; }.woocommerce-info, .woocommerce-message, .woocommerce-error li, .login-form-checkout > p, .coupon-form-checkout > p { font-size: 15px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 600; text-align: left; text-transform: none; }ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button span.out-of-stock { color: #ff1800; }.single-product.woocommerce div.product div.summary h1,
                             .single-product.woocommerce div.product div.product-title-section h1 { font-size: 19px; font-family: 'Noto Sans', sans-serif; color: #040404; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.single-product.woocommerce div.product div.summary .price, .woocommerce.sc_add_to_cart .sc_add_to_cart_price .amount { font-size: 19px; font-family: 'Noto Sans', sans-serif; color: #040404; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.single-product.woocommerce div.product div.summary form.cart h4,
                            .single-product.woocommerce div.product form.cart label,
                            .share-link-wrapper .share-label,
                            div.summary.entry-summary form.variations_form.cart .single_variation_wrap h4,
                            #modal-window .modal-opener a { font-size: 15px; font-family: 'Noto Sans', sans-serif; color: #040404; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; }.single-product.woocommerce div.woocommerce-tabs ul.tabs li a,
                             .tabs-container ul.tabs li a,
                             .wpb_content_element.wpb_tabs .ui-tabs > ul li a { font-size: 19px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }.single-product.woocommerce div.woocommerce-tabs ul.tabs li.active a,
                             .tabs-container ul.tabs li.active a,
                             .wpb_content_element.wpb_tabs .ui-tabs > ul li.active a { font-size: 19px; font-family: 'Noto Sans', sans-serif; color: #040404; font-style: normal; font-weight: 400; text-align: center; text-transform: uppercase; }.single-product.woocommerce div.product div.summary p.stock.out-of-stock { color: #6d6c6c; }.single-product.woocommerce div.product-style-2 .product-header { background-color: #F5F9FC; }#my-account-sidebar ul li > a { font-size: 14px; font-family: 'Noto Sans', sans-serif; font-style: normal; font-weight: 400; text-align: left; text-transform: uppercase; color: #5b5a5a; }#my-account-sidebar ul li:hover > a,
                                  #my-account-sidebar ul li.active > a { color: #627f9a; }#my-account-content h2,
                             #my-account-sidebar .user-profile span.username { font-size: 15px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }.widget.woocommerce ul.product_list_widget a span.product_price,
                            .single-product.woocommerce ul.product_list_widget a span.product_price,
                             .widget.yit_products_category a span.product_price { font-size: 16px; font-family: 'Noto Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-align: left; text-transform: none; }#header .widget_shopping_cart .widget_shopping_cart_content h5.list-title, #header .widget_shopping_cart .widget_shopping_cart_content p.total,
            .widget_shopping_cart .widget_shopping_cart_content .total span { font-size: 13px; font-family: 'Noto Sans', sans-serif; color: #040404; font-style: normal; font-weight: 700; text-align: left; text-transform: uppercase; }
                .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
                #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
                .widget_shopping_cart .widget_shopping_cart_content .mini-cart-item-info a:visited,
                div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
                .widget_shopping_cart .widget_shopping_cart_content .mini-cart-item-info a,
                .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info .subtotal,
                #header .widget_shopping_cart .widget_shopping_cart_content .total span.amount,
                .widget_shopping_cart .widget_shopping_cart_content a.remove,
                #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info .subtotal { color: #6d6c6c; }
                .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover,
                #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover,
                div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover,
                .widget_shopping_cart .widget_shopping_cart_content a.remove:hover { color: #627f9a; }.woocommerce #header-sidebar .yit_cart_widget .cart_wrapper .widget_shopping_cart_content, #header-sidebar .yit_cart_widget .cart_wrapper .widget_shopping_cart_content { border-color: #dbd8d8; background: #ffffff; }#loginform label,.ywsl-label { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; text-transform: none; }#loginform .forgetmenot label,
                            #loginform input[type="text"],
                            #loginform input[type="password"],
                            wp-social-login-connect-with { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 400; }.login .button-primary { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 700; text-transform: uppercase; background-color: #627f9a; border-color: #627f9a; }.login .button-primary:hover { background-color: #627f9a; border-color: #4a5f72; }.login #nav a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 800; text-transform: none; }.login #backtoblog a { font-size: 11px; font-family: 'Open Sans', sans-serif; color: #6d6c6c; font-style: normal; font-weight: 800; text-transform: none; }